@import url("https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap");

:root {
  --color-primary: #091242;
  --color-secondary: linear-gradient(#ffb629, #ffda56, #ffd7a6);

  --color-text-heading: #1c1f35;
  --color-text-paragraph: #666c89;

  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Krub", sans-serif;
  color: var(--color-primary);
}

/* body::-webkit-scrollbar {
  width: 0.15rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-text-heading);
}
body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}  */

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
}

.flex {
  display: flex;
}

.first-nav {
  min-height: 10vh;
  background-color: var(--color-primary);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

header .logo img {
  width: 15rem;
}

.logo {
  padding: 10px;
}

.nav-services {
  width: 40%;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.nav-card {
  min-width: 80px;
  color: var(--color-white);
  text-align: left;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding-right: 20px;
}

.nav-card img {
  width: 4rem;
  height: 4rem;
}

.nav-card p {
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.nav-card p span {
  width: 100%;
}

header nav {
  min-height: 5vh;
  width: 100%;
  background: rgba(9, 18, 66, 0.2);
  color: var(--color-white);
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

header nav ul {
  list-style: none;
  gap: 3rem;
}

header nav ul li {
  margin: 5px 0;
  padding-right: 20px;
  padding-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  cursor: pointer;
}

header nav ul li:last-child {
  border: none;
}

.nav-social {
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.nav-social div {
  display: block;
  background-color: var(--color-white);
  padding: 2rem;
  color: var(--color-primary);
  font-weight: bold;
  cursor: default;
}

.hero {
  height: 100vh;
  background: url(imgs/hero-bg.png);
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  font-size: 1rem;
  overflow: hidden;
}

.hero .text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  position: relative;
  top: 25%;
  left: 15%;
  /* border: 1px solid white; */
}

.sub-heading-above {
  font-size: 0.9rem;
  width: fit-content;
  padding: 2px;
  background-color: #e8e8e880;
}

.hero .sub-heading-above {
  background: rgba(4, 28, 55, 0.5);
}

.sub-heading-above::before {
  content: "|";
  margin-right: 2px;
  background: var(--color-secondary);
  color: var(--color-secondary);
}

.hero h1 {
  font-size: 3.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero .sub-heading-below {
  width: 50%;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 200;
}

button {
  background: url(./imgs/Button-Background.svg);
  background-position: center;
  background-size: cover;
  padding: 1.3rem 1.9rem;
  border: none;
  box-shadow: 1px 1px 5px var(--color-text-heading);
  cursor: pointer;
  transition: transform 0.1s ease-out;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-primary);
}

button:hover {
  background-color: #00eee0;
  border: 1px #99ccff;
}

button:active {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
}

#service {
  min-height: 50vh;
  background-color: var(--color-white);
  justify-content: center;
  align-items: center;
}

.service-container {
  width: 70%;
  height: 75%;
  margin-top: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  /* border:  1px solid; */
}

.service-title {
  font-size: 1.6rem;
  width: 30%;
}

.service-content div {
  padding-left: 10px;
  text-align: left;
  width: 78%;
  overflow: hidden;
}

.service-content div img {
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.service-content-text h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--color-text-heading);
}

.service-content div p {
  font-size: 1.1rem;
  color: var(--color-text-paragraph);
  line-height: 1.5rem;
  padding-top: 2px;
  letter-spacing: 0.01rem;
}
.service-content-text {
  border-left: 1px solid #d8d8d8;
}

.service-content-container {
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 5rem;
}

.service-content-container2 {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
}

#why-us {
  height: 90vh;
  position: relative;
}

#why-us .container-img {
  height: 50vh;
  background: linear-gradient(0deg, rgba(9, 18, 66, 0.8), rgba(9, 18, 66, 0)),
    url("./imgs/services-logo/container-bg-image.png");
  background-position: center;
  background-size: cover;
}

.why-us-card {
  width: 60%;
  /* border: 1px solid red; */
  position: absolute;
  top: 27%;
  left: 20%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.text-container {
  background-color: var(--color-white);
  padding: 5rem 0 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 55%;
  height: 100%;
}

.text-container h2 {
  font-size: 2.5rem;
  color: var(--color-text-heading);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Rubik", sans-serif;
}

.why-us-p {
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  color: var(--color-text-paragraph);
}

.why-us-icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-text-heading);
  margin-top: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.why-us-icon-text img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img-container {
  background-color: var(--color-white);
  width: 50%;
  padding-top: 5rem;
  position: relative;
}

.img-container img {
  height: 70%;
  width: 90%;
  object-fit: contain;
}

.img-container .img-overlay {
  position: absolute;
  top: 65%;
  right: 65%;
  height: 40%;
  background: var(--color-white);
  padding: 1.7rem 1.7rem 0 0;
  width: auto;
}

.counter-section {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.counter-box {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.counter-section span {
  width: 10px;
  height: 10px;
  background: var(--color-secondary);
  background-size: cover;
}

.count {
  width: 50%;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 3.5rem 3rem;
  border: 1px solid rgba(212, 212, 212, 0.8);
  border-left: none;
}

.left-count {
  justify-content: flex-end;
}

.right-count {
  border-right: none;
}

.count h1 {
  color: var(--color-text-heading);
  font-family: "Rubik";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.count p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#transport {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.transport-bg {
  width: 100%;
  background: linear-gradient(
    95deg,
    #ffb629 -1.19%,
    #ffda56 57.78%,
    #ffd7a6 115.08%
  );
  z-index: -1;
  position: absolute;
  height: 50%;
  top: 50%;
}

#transport h2 {
  color: var(--color-primary);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
}

.tc-gallary-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}

.transport-card {
  height: 30rem;
  width: 25rem;

  background-position: center;
  background-blend-mode: multiply;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 1.5rem;
  color: white;
  font-style: normal;
  line-height: normal;
}

.transport-card h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.transport-card p {
  color: #ffb629;
  font-weight: 400;
  line-height: 1.5rem;
}

.tc-card-1 {
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%),
    url("./imgs/transport-section/liquid-transportation-logo.png");
  background-size: cover;
}

.tc-card-2 {
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%),
    url("./imgs/transport-section/packing.png");
  background-size: cover;
}

.tc-card-3 {
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%),
    url("./imgs/transport-section/truck.png");
  background-size: cover;
}

.tc-card-4 {
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%),
    url("./imgs/transport-section/wharehouse.png");
  background-size: cover;
}

.tc-card-5 {
  background: linear-gradient(0deg, #091242 14.34%, rgba(60, 60, 60, 0) 43.86%),
    url("./imgs/transport-section/port.png");
  background-size: cover;
}

.hidden {
  display: block;
}

#transport button {
  background: url(./imgs/transport-section/button-bgsvg.svg);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  width: 15rem;
}

#testimonial {
  margin: 1rem 0;
}

.test-card-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 80%;
  width: 60%;
  margin: auto;
  padding: 5rem;
}

.test-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.test-title h2 {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: normal;
}

.test-title img {
  width: 70px;
}

.test-card-people {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-card {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 55%;
  min-height: 300px;
  padding: 4rem 4.5rem;
  background: #f4f4f4;
}

.test-card-right{
  background: var(--color-primary);
}

.test-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: -5%;
}

.test-card .quote-icon{
  width: 19%;
}

.test-card-title-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.test-card-title-left div {
  margin: 1rem;
}

.test-card-title-left h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.test-card-title-left p {
  color: var(--color-text-heading);
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1rem;
}

.test-card-right .test-card-title-left h3, .test-card-right p{
  color: var(--color-white);
  font-weight: 500;
}

.test-card img {
  width: 55px;
  object-fit: cover;
}

.test-card .test-p{
  color: var(--color-text-paragraph);
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  line-height: 151.523%;
  text-align: justify;
}

.test-card-right .test-p{
  color: var(--color-white);
}

.rating-star{
  width: 55% !important;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 52%;
  }

  .hidden {
    display: none;
  }

  nav {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .first-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-services {
    width: 85%;
    padding: 0.5rem;
  }

  .nav-card {
    flex-shrink: 1;
    padding-right: 0;
    margin-right: 5px;
  }

  .nav-social {
    display: none;
  }

  .hero .text {
    top: 20%;
    width: 55%;
  }
  .hero .sub-heading-below {
    width: 90%;
  }

  #service {
    height: 100%;
  }

  .service-container {
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .service-title {
    width: 100%;
    text-align: left;
  }

  .service-title p {
    margin-bottom: 5px;
  }

  .service-content-container {
    width: 90vw;
    align-items: flex-start;
  }

  .service-content div {
    width: 100%;
  }

  #why-us {
    height: 85vh;
  }

  #why-us .container-img {
    height: 30vh;
  }

  .why-us-card {
    width: auto;
    top: 25%;
    left: 0;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: left;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    left: 25%;
  }

  .text-container {
    width: 90%;
    justify-content: flex-start;
  }

  .counter-box {
    width: 90%;
  }

  #transport {
    height: auto;
    row-gap: 2rem;
  }

  .tc-gallary-container {
    grid-template-columns: 1fr;
  }

  .transport-bg {
    top: 2%;
    height: 100%;
    background: linear-gradient(
      95deg,
      rgba(255, 182, 41, 0.6) -1.19%,
      rgba(255, 218, 86, 0.6) 57.78%,
      rgba(255, 215, 166, 0.6) 115.08%
    );
  }

  .transport-card {
    height: 35rem;
    width: 30rem;
    margin: 1.5rem 0;
  }

  .test-card-container{
    width: auto;
    padding: 5rem 2rem;
  }

  .test-card-people{
    flex-direction: column;
  }

  .test-card{
    width: 100%;
    gap: 1rem;
    padding: 5rem 5.5rem;
  }
  .test-card-title{
    width: auto;
  }
}
