*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow: scroll;
}

.box{
    padding: 3rem;
    margin: 1rem;
    background-color: darkgoldenrod;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}


.box1{
    background-color: blueviolet;
}

.box2{
    background-color: aqua;
}

.box3{
    background-color: yellowgreen;
}

.box4{
    background-color: tomato;
}

.box5{
    background-color: violet;
}

.box6{
    background-color: cornflowerblue;
}

.box7{
    background-color: green;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #050f1d;
    min-height: 10vh;
    color: white;
    padding: 0 5rem;
}


nav ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav ul li a{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    color: white;
    background: #050f1d;
    border-radius: 0.5rem;
    transition: background 0.3s ease-out;
}

nav ul li a:hover{
    color: #050f1d;
    background: white;
    transition: background 0.3s ease-in;
    
}

.menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    cursor: pointer;
    display: none;
}

.menu-bar span{
    width: 20px;
    height: 2px;
    background: white;
}


@media only screen and (max-width: 768px) {
    
    nav{
        justify-content: space-between;
        padding: 1.5rem;
    }

    nav ul{
        width: 100%;
        position: absolute;
        top: 10vh;
        left: 0;
        background: #050f1d;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
        transition: display 1s ease-in-out;
    }

    .hide{
        display: none;
    }

    nav ul li:active .hide{
        display: none;
    }

    .parent:active nav{
        display: none;
    }

    .show{
        display: flex;
    }

    .menu-bar{
        display: flex;
    }

}
