@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@600&display=swap');

:root{
    --color-primary:#bf3044;
    --color-secondary:#44567c;
    --color-white:#f0f0f0;
    --color-bg:#27282a;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}



#navbar {
  /* position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; 
  z-index: 1000;  */
}



@media (max-width: 768px) {
  /* #navbar {
    height: 50px;
  } */
}

